/* App.css */

.app-container {
  /* You can add any general styles for the app container here */
}

header {
  padding: 10px;
  text-align: center; 
}

.content-wrapper { 
  display: flex;           
  max-width: 1280px;
  margin: 20px auto; 
}

.left-content { 
  flex: 2; /* Main content takes more space */
  margin-right: 20px; 
}

.favorites-section { 
  flex: 1; /* Favorites section takes less space */
  border-left: 2px solid #ccc; 
  padding-left: 10px; 
  margin-left: 20px;
}

.favorites-sidebar ul {
  list-style: none; 
  padding: 0;
}

/* Modal Styles */
.modal-backdrop { 
  position: static; 
  transform: none; 
  background-color: white; 
  padding: 20px;
  border: 2px solid #000; 
  width: 100%; 
  text-align: center;
  margin-top: 20px; /* Add space between favorites list and modal */
}

.modal-content img {
  width: 100px;
}

.modal-content button {
  margin-top: 10px;
}

@media (max-width: 768px) { 
  .content-wrapper {
    flex-direction: column; 
  }

  .favorites-section {
    border-left: none;   
    width: 100%;         
    margin-top: 20px;    
    margin-left: 0; 
  }
}